/* inter-regular - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/inter-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/inter-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v30-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html{
  box-sizing: border-box;
}
*, *::before, *::after{
  box-sizing: inherit;
}
.wrapper{
  max-width: 1280px;
  margin: 0 auto;
}
.container{
  padding-left: 68px;
  padding-right: 68px;
}
@media(max-width: 720px){
  .container{
    padding-left: 45px;
    padding-right: 45px;
  }
}
@media(max-width: 480px){
  .container{
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media(max-width: 400px){
  .container{
    padding-left: 15px;
    padding-right: 15px;
  }
}
._ibg{
  position: relative;
}
._ibg img{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

/* Intro start*/

.intro__block{
  position: relative;
}
.intro__text{
  padding-top: 15%;
  padding-bottom: 10%;
  padding-left: 40px;
  padding-right: 40px;
}
.intro__title{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 62px;
  line-height: 70px;
  letter-spacing: 1px;
  color: #0A044B;
  max-width: 453px;
}
.intro__subtitle{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  letter-spacing: 0.4px;
  color: #0A044B;
  max-width: 477px;
  padding-top: 28px;
  padding-bottom: 28px;
}
.more{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  background: #5D3EA8;
  border-radius: 8px;
  padding: 10px 20px;
  border: 0;
  transition: .3s;
}
.more:hover, .more:focus, .more:active{
  background: #472a8d;
}
.get{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #0A044B;
  padding: 10px 20px;
  background: 0;
  border: 0;
  margin-left: 17px;
  transition: .3s;
}
.get:hover, .get:focus, .get:active{
  opacity: .60;
}
.intro__pic{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
@media(max-width: 1224px){
  .intro__text{
    padding-top: 20%;
  }
}
@media(max-width: 850px){
  .intro__pic{
    opacity: .70;
  }
  .intro__title{
    font-weight: 200;
    font-size: 52px;
    line-height: 50px;
  }
}
@media(max-width: 720px){
  .intro__title{
    font-weight: 200;
    font-size: 42px;
    line-height: 40px;
  }
  .intro__subtitle{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    padding-top: 18px;
    padding-bottom: 18px;
  }
}
@media(max-width: 620px){
  .more{
    font-size: 14px;
  }
  .get{
    font-size: 14px;
  }
}
@media(max-width: 520px){
  .intro__title{
    font-weight: 200;
    font-size: 32px;
    line-height: 40px;
  }
  .intro__subtitle{
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    padding-top: 14px;
    padding-bottom: 14px;
  }
  .intro__button{
    padding-top: 10px;
  }
  .intro__text{
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media(max-width:420px){
  .intro__text{
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media(max-width: 375px){
  .intro__title{
    font-weight: 200;
    font-size: 25px;
    line-height: 30px;
  }
  .intro__subtitle{
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    padding-top: 14px;
    padding-bottom: 15px;
  }
  .intro__button{
    display: inline-flex;
    flex-direction: column;
  }
  .more{
    font-size: 12px;
    padding: 7px 20px;
  }
  .get{
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    padding: 7px 20px;
    text-align: start;
    margin-top: 15px;
    margin-left: 0;
  }
  .intro__text{
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* Intro end */

/* Paytient strat */

.paytient{
  margin-top: 120px;
  margin-bottom: 170px;
}
.paytient__text{
  display: flex;
}
.paytient__text-title{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 58px;
  letter-spacing: 1px;
  color: #000000;
}
.paytient__titles{
  padding-top: 70px;
  padding-right: 50px;
}
.paytient__title{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 43px;
  letter-spacing: 0.5px;
  color: #000000;
  max-width: 501px;
  padding-bottom: 32px;
}
.paytient__title:last-child{
  padding-bottom: 0px;
}
.paytient__subtitles{
  margin: 0 0 0 auto;
}
.paytient__subtitle{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.4px;
  color: #000000;
  max-width: 505px;
  padding-bottom: 23px;
}
.paytient__subtitle:last-child{
  padding-bottom: 0px;
}
.paytient__bottom{
  padding-top: 108px;
}
.paytient__bottom span{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #000000;
  padding-right: 5px;
}
@media(max-width:1200px){
  .paytient{
    margin-top: 100px;
  }
}
@media(max-width:860px){
  .paytient__text-title{
    font-weight: 400;
    font-size: 34px;
    line-height: 58px;
  }
  .paytient__title{
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    max-width: 501px;
    padding-bottom: 32px;
  }
}
@media(max-width:768px){
  .paytient__text{
    flex-direction: column;
  }
  .paytient__titles{
    padding-top: 40px;
    padding-right: 0;
  }
  .paytient__title{
    font-size: 20px;
    line-height: 23px;
    max-width: 501px;
    padding-bottom: 32px;
  }
  .paytient__subtitles{
    margin: 0;
    padding-top: 20px;
  }
  .paytient__subtitle{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    padding-bottom: 18px;
  }
  .paytient__bottom{
    padding-top: 68px;
  }
}
@media(max-width:720px){
  .paytient{
    margin-top: 70px;
    margin-bottom: 70px;
  }
}
@media(max-width:375px){
  .paytient{
    margin-bottom: 50px;
  }
  .paytient__text-title{
    font-weight: 400;
    font-size: 30px;
    line-height: 58px;
  }
  .paytient__bottom span{
    font-size: 10px;
    line-height: 22px;
  }
  .paytient__bottom img{
    padding-top: 10px;
  }
}

/* Paytient end */

/* Meet start */

.meet{
  display: flex;
  background: #EBEEF7;
  margin-bottom: 80px;
}
.meet__text{
  margin-top: 15%;
  padding-right: 40px;
  padding-bottom: 15%;
}
.meet__top{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #0A044B;
  background: #FBFCFD;
  border-radius: 320px;
  display: inline;
  padding: 0px 16px;
}
.meet__title{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 46px;
  line-height: 58px;
  letter-spacing: 1px;
  color: #0A044B;
  padding-top: 30px;
  padding-bottom: 34px;
}
.meet__subtitle{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.4px;
  color: #0A044B;
  max-width: 519px;
  padding-bottom: 23px;
}
.meet__img{
  padding-top: 144px;
  padding-bottom: 144px;
  margin: 0 0 0 auto;
}
.meet__img img{
  max-width: 100%;
}
@media(max-width: 950px){
  .meet{
    flex-direction: column-reverse;
  }
  .meet__text{
    padding-right: 0;
    margin-top: 0;
  }
  .meet__img{
    margin: 0;
    padding-bottom: 30px;
  }
}
@media(max-width: 480px){
  .meet__top{
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    padding: 0px 14px;
  }
  .meet__title{
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    padding-bottom: 24px;
    padding-top: 25px;
  }
  .meet__subtitle{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 18px;
  }
  .meet__img{
    padding-top: 50px;
  }
}

/* Meet end */

/* Members start */

.members{
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 340px;
}
.members__subtitle{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  padding-bottom: 50px;
}
.members__title{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 67px;
  text-align: center;
  color: #000000;
}
@media(max-width:1000px){
  .members__subtitle{
    font-size: 11px;
    padding-bottom: 30px;
  }
  .members__title{
    font-size: 30px;
    line-height: 47px;
  }
}
@media(max-width:425px){
  .members{
    padding-bottom: 150px;
  }
  .members__subtitle{
    font-size: 8px;
    padding-bottom: 20px;
  }
  .members__title{
    font-size: 20px;
    line-height: 32px;
  }
}

/* Members end */

/* Faq start */

.faq{
  margin-bottom: 250px;
}
.faq__title{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 58px;
  text-align: center;
  letter-spacing: 1px;
  color: #0A044B;
  padding-bottom: 100px;
}
.faq__row{
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  margin: 0 auto;
  padding-bottom: 30px;
}
.faq__row-item{
  display: flex;
}
.faq__row-item p{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #0A044B;
  padding-left: 16px;
}
.faq__block{
  padding-top: 104px;
  padding-bottom: 30px;
  border-top: 1px solid #EBEEF7;
  display: flex;
  flex-wrap: wrap;
}
.faq__block-title h3{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 33px;
  line-height: 43px;
  letter-spacing: 0.5px;
  color: #0A044B;
  padding-bottom: 26px;
}
.faq__block-subtitle p{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.4px;
  color: #0A044B;
  max-width: 500px;
  padding-bottom: 24px;
}
.faq__link{
  display: flex;
  padding-top: 15px;
}
.faq__link p{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.4px;
  color: #0A044B;
  padding-right: 10px;
}
.faq__link a{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.4px;
  color: #0A044B;
  text-decoration: none;
}
.faq__pic{
  margin: 0 0 0 auto;
}
.faq__pic img{
  max-width: 100%;
}
@media(max-width:800px){
  .faq{
    margin-bottom: 150px;
  }
  .faq__title{
    font-size: 36px;
    line-height: 58px;
    padding-bottom: 60px;
  }
  .faq__row-item p{
    font-size: 16px;
    padding-left: 12px;
  }
  .faq__block{
    padding-top: 70px;
    padding-bottom: 20px;
  }
  .faq__block-title h3{
    font-size: 28px;
    padding-bottom: 18px;
  }
  .faq__block-subtitle p{
    font-size: 14px;
    line-height: 22px;
    padding-bottom: 18px;
  }
  .faq__link{
    display: flex;
    padding-top: 15px;
  }
  .faq__link p{
    font-size: 12px;
    line-height: 18px;
    padding-right: 8px;
  }
  .faq__link a{
    font-size: 12px;
    line-height: 18px;
  }
  .faq__pic{
    margin: 0 0 0 auto;
    padding-top: 70px;
  }
}
@media(max-width:430px){
  .faq{
    margin-bottom: 80px;
  }
  .faq__row{
    flex-direction: column;
  }
  .faq__row-item{
    padding-bottom: 8px;
  }
}

/* Faq end */

/* Partners start */

.partners{
  max-width: 1006px;
  margin: 0 auto;
}
.partners__text{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ECFFC0;
  padding-bottom: 48px;
}
.partners__title{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 43px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #000000;
}
.partners__subtitle{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.4px;
  color: #000000;
  padding-top: 30px;
}
@media(max-width:768px){
  .partners__text{
    font-size: 12px;
    line-height: 21px;
    padding-bottom: 28px;
  }
  .partners__title{
    font-size: 28px;
    line-height: 34px;
  }
  .partners__subtitle{
    font-size: 12px;
    line-height: 18px;
    padding-top: 25px;
  }
}
@media(max-width:560px){
  .partners__title{
    font-size: 24px;
    line-height: 34px;
  }
}
@media(max-width:375px){
  .partners__title{
    font-size: 18px;
    line-height: 24px;
  }
}

/* Partners end */

/* Team start */

.team{
  margin-top: 320px;
  margin-bottom: 300px;
  display: flex;
}
.team__pic{
  padding-right: 20px;
  display: flex;
}
.team__pic1{
  padding-top: 80px;
  max-width: 100%;
}
.team__pic2{
  padding-left: 20px;
  max-width: 100%;
}
.team__pic3{
  padding-left: 47px;
  padding-top: 47px;
  max-width: 100%;
}
.team__pic-item{
  flex-direction: column;
}
.team__text{
  padding-top: 118px;
  margin: 0 0 0 auto;
}
.team__title{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 1px;
  color: #0A044B;
  padding-bottom: 26px;
}
.team__subtitle{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.4px;
  color: #0A044B;
  padding-bottom: 23px;
  max-width: 542px;
}
.team__subtitle:last-child{
  padding-bottom: 28px;
}
@media(max-width:960px){
  .team{
    flex-direction: column;
  }
}
@media(max-width:600px){
  .team{
    margin-top: 120px;
    margin-bottom: 100px;
  }
  .team__pic{
    flex-wrap: wrap;
  }
  .team__pic1{
    padding-top: 80px;
    max-width: 100%;
    padding-bottom: 20px;
  }
  .team__pic2{
    padding-left: 40px;
    max-width: 100%;
  }
  .team__pic3{
    padding-left: 0px;
    padding-top: 20px;
    max-width: 100%;
  }
  .team__text{
    padding-top: 70px;
    margin: 0 0 0 auto;
  }
  .team__title{
    font-size: 30px;
    line-height: 30px;
    padding-bottom: 26px;
  }
  .team__subtitle{
    font-size: 12px;
    line-height: 18px;
  }
  .team__subtitle:last-child{
    padding-bottom: 28px;
  }
}

/* Team end */

/* Benefits start */

.benefits{
  background: #5D3EA8;
  border-radius: 0px 0px 24px 24px;
  display: flex;
}
.benefits__title{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 58px;
  letter-spacing: 1px;
  color: #FFFFFF;
  max-width: 711px;
  padding-top: 96px;
}
.benefits__form-field{
  border: 1px solid #EBEEF7;
  border-radius: 8px;
  background: 0;
  color: #fff;
  width: 358px;
  height: 48px;
}
.benefits__button{
  background: #FFFFFF;
  border-radius: 8px;
  width: 106px;
  height: 48px;
  border: 0;
  transform: translateY(17px);
  margin-left: 16px;
  transition: .3s;
}
.benefits__button:hover, .benefits__button:focus, .benefits__button:active{
  opacity: .40;
}
.benefits__subtitle{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
  padding-top: 16px;
}
.benefits__subtitle a{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
  text-decoration: none;
  padding-left: 5px;
  transition: .3s;
}
.benefits__subtitle a:hover, .benefits__subtitle a:focus, .benefits__subtitle a:active{
  opacity: .40;
}
.benefits__pic{
  margin: 0 0 0 auto;
}
@media(max-width:990px){
  .benefits{
    position: relative;
  }
  .benefits__text{
    padding-top: 100px;
    padding-bottom: 60px;
    position: relative;
    z-index: 2;
  }
  .benefits__pic{
    position: absolute;
    opacity: .70;
    z-index: 1;
    bottom: 0;
    right: 0;
  }
}
@media(max-width:768px){
  .benefits__title{
    font-size: 36px;
    line-height: 42px;
    max-width: 711px;
    padding-top: 70px;
  }
}
@media(max-width:575px){
  .benefits__form-field{
    width: 250px;
    height: 48px;
  }
  .benefits__button{
    width: 70px;
    height: 48px;
    margin-left: 8px;
  }
}
@media(max-width:410px){
  .benefits__title{
    font-size: 24px;
    line-height: 32px;
    max-width: 711px;
    padding-top: 70px;
  }
  .benefits__form-field{
    width: 200px;
    height: 34px;
  }
  .benefits__button{
    width: 50px;
    height: 34px;
    margin-left: 4px;
    transform: translateY(11px);
  }
  .benefits__subtitle{
    font-size: 8px;
    line-height: 18px;
    color: #FFFFFF;
    padding-top: 16px;
  }
  .benefits__subtitle a{
    font-size: 8px;
    line-height: 18px;
    padding-left: 5px;
  }
}

/* Benefits end */

/* Footer start */

.footer{
  background: #0A044B;
}
.footer__container{
  padding: 0 40px;
}
.footer__top{
  display: flex;
}
.footer__social{
  padding-top: 150px;
}
.footer__social-list{
  display: flex;
}
.footer__social-item{
  padding-right: 16px;
}
.footer__social-link{
  text-decoration: none;
  transition: .3s;
}
.footer__social-link:hover, .footer__social-link:focus, .footer__social-link:active{
  opacity: .40;
}
.footer__logo{
  padding-top: 35px;
}
.footer__blocks{
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  width: 735px;
  margin: 0 0 0 auto;
  padding-right: 76px;
}
.footer__title{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  padding-bottom: 24px;
}
.footer__item{
  padding-bottom: 16px;
}
.footer__item:last-child{
  padding-bottom: 0px;
}
.footer__link{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
  text-decoration: none;
  transition: .3s;
}
.footer__link:hover, .footer__link:focus, .footer__link:active{
  opacity: .40;
}
.footer__bottom{
  border-top: 1px solid #CECDDB;
  margin-top: 64px;
  padding-top: 32px;
  padding-bottom: 80px;
}
.footer__bottom-subtitle{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
}
.footer__link-bottom{
  padding-right: 16px;
  padding-top: 8px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
  text-decoration: none;
  transition: .3s;
}
.footer__link-bottom:hover, .footer__link-bottom:focus, .footer__link-bottom:active{
  opacity: .40;
}
@media(max-width:990px){
  .footer__blocks{
    padding-right: 20px;
    margin: 0 auto;
  }
  .footer__top{
    flex-direction: column;
  }
}
@media(max-width:790px){
  .footer__blocks{
    padding-right: 0px;
    width: auto;
    padding-right: 0;
  }
  .footer__block{
    padding-right: 20px;
  }
  .footer__block:last-child{
    padding-right: 0;
  }
}
@media(max-width:500px){
  .footer__blocks{
    width: 100%;
    flex-wrap: wrap;
  }
  .footer__block{
    width: 50%;
    padding-bottom: 40px;
  }
  .footer__bottom{
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 40px;
  }
}
@media(max-width:400px){
  .footer__container{
    padding: 0 20px;
  }
  .footer__social{
    padding-top: 50px;
  }
  .footer__logo{
    padding-top: 15px;
  }
  .footer__blocks{
    padding-top: 40px;
  }
  .footer__title{
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 18px;
  }
  .footer__link{
    font-size: 12px;
    line-height: 16px;
  }
  .footer__bottom{
    margin-top: 10px;
  }
  .footer__bottom-subtitle{
    font-size: 12px;
    line-height: 18px;
  }
  .footer__link-bottom{
    padding-right: 8px;
    padding-top: 8px;
    font-size: 12px;
    line-height: 21px;
  }
}

/* Footer end */